<div class="card m-4" style="width: 200px;">
  <img [src]="language.logo" class="card-img-top p-1" alt="...">
  <div class="card-body">
    <h5 class="card-title text-center">{{ language.name }}</h5><span class="ranking">#{{ language.ranking }}</span>
    <p class="card-text d-flex justify-content-between align-items-center"><span>Votes: {{ language.votes }}</span>
      <img *ngIf="!voted" (click)="vote()" class="like" src="assets/like-outline.svg" alt="">
      <img *ngIf="voted" (click)="vote()" class="like" src="assets/like-fill.svg" alt="">
    </p>
  </div>
</div>
